main.retry
group_vars/all/vars_file.yml
roles/reverse-proxy/templates/*
roles/reverse-proxy/tasks/my_specialconfs.yml
roles/seedbox/templates/*.fr.j2
roles/ansible-role-java/
update.retry
roles/owncloud/templates/
roles/owncloud/tasks/my_specialconfs.yml
roles/ansible-role-docker/
roles/securisation/templates/mailconf.tar.gz.j2
roles/gogs/templates/
