Hostname "colin-srv-01"

LoadPlugin load
LoadPlugin memory
LoadPlugin users
LoadPlugin swap
LoadPlugin cpufreq
LoadPlugin entropy

LoadPlugin interface
<Plugin "interface">
    Interface "eth0"
    IgnoreSelected false
</Plugin>

LoadPlugin df
<Plugin "df">
    Device "/dev/sda1"
    MountPoint "/"
    FSType "ext4"
</Plugin>

LoadPlugin cpu
<Plugin "cpu">
    ReportByCpu true
    ReportByState false
    ValuesPercentage true
</Plugin>

LoadPlugin network
<Plugin "network">
    # Server "127.0.0.1" "25826"  # elasticsearch
    <Server "127.0.0.1" "40391"> # influxdb
        SecurityLevel None
        Username "collectdrw"
        Password "{{ influxdb.collectd_rw_pwd }}"
    </Server>
</Plugin>

LoadPlugin disk
<Plugin "disk">
    Disk "sda"
    Disk "/^hd/"
    IgnoreSelected false
</Plugin>

LoadPlugin logfile
<Plugin "logfile">
    LogLevel "info"
    File "/var/log/collectd.log"
    Timestamp true
    PrintSeverity true
</Plugin>
